<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>信息添加</title>
    <link type="text/css" rel="stylesheet" href="css/register/register.css"/>
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
</head>

<body>
<input type="file" id="file" style="display: none;" onchange="upload()"/>
<div class="dao-table-main" id="info">
    <table class="dao-table row" id="user_info">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td>姓名</td>
            <td><input type="text" autofocus="autofocus"/></td>
            <td>出生</td>
            <td colspan="2"><input type="text"/></td>
            <td>籍贯</td>
            <td><input type="text"/></td>
            <td>注册协会</td>
            <td><input type="text"/></td>
        </tr>
        <tr>
            <td>身高</td>
            <td class="right"><input type="text" class="wd-lg" placeholder="M"/> M</td>
            <td>体重</td>
            <td class="right"><input type="text" class="wd-lg" placeholder="KG"/> KG</td>
            <td>身份证号</td>
            <td colspan="4"><input type="text"/></td>
        </tr>
        <tr>
            <td>文化程度</td>
            <td colspan="4">
                <!-- checkbox -->
                <div class="radio-group" id="education">
                    <input type="radio" name="stu" id="0" value="研究生" checked="checked"/>
                    <label for="0">研究生</label>

                    <input type="radio" name="stu" id="1" value="本科"/>
                    <label for="1">本科</label>

                    <input type="radio" name="stu" id="2" value="专科"/>
                    <label for="2">专科</label>

                    <input type="radio" name="stu" value="其他" id="other"/>
                    <label for="other">其他</label>
                </div>
            </td>
            <td colspan="4">政治面貌：<input type="text" class="wd-lg"/></td>
        </tr>
        <tr>
            <td colspan="2">外语语种及级别</td>
            <td colspan="5"><input type="text"/></td>
            <td colspan="2" rowspan="60" style="position:relative;text-align:center">
                <img class="pic-btn" id="photo" onClick="add_photo()"/>近期免冠照片<br/>(会员协会盖章)
            </td>
        </tr>
        <tr>
            <td colspan="2">联系电话</td>
            <td colspan="2"><input type="text" placeholder="1"/></td>
            <td colspan="3"><input type="text" placeholder="2"/></td>
        </tr>
        <tr>
            <td colspan="2">工作学习单位</td>
            <td colspan="5"><input type="text"/></td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2">现有级别及批准日期</td>
            <td colspan="5">
                <!-- radio -->
                <div class="radio-group" id="level">
                    <input type="radio" name="level" id="country" value="国家级" checked="checked"/>
                    <label for="country">国家级</label>

                    <input type="radio" name="level" value="一级" id="one"/>
                    <label for="one">一级</label>

                    <input type="radio" name="level" value="二级" id="two"/>
                    <label for="two">二级</label>

                    <input type="radio" name="level" value="三级" id="three"/>
                    <label for="three">三级</label>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                批准日期：<input type="text" class="wd-lg"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">E-mail</td>
            <td colspan="5"><input type="text"/></td>
        </tr>
        <tr>
            <td colspan="2">通讯地址</td>
            <td colspan="7"><input type="text"/></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- 运动经历 -->
<div class="dao-table-main" id="info2">
    <table class="dao-table row">
        <thead>
        <tr>
            <th colspan="3">足球运动经历
            </th>
        </tr>
        <tr>
            <th>时间</th>
            <th>球队</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
        </tr>
        </tbody>
    </table>
    <button onClick="addRowToInfo2()">添加一行</button>
</div>
<!-- 培训经历 -->
<div class="dao-table-main" id="info3">
    <table class="dao-table row">
        <thead>
        <tr>
            <th colspan="5">裁判培训经历
            </th>
        </tr>
        <tr>
            <th>时间</th>
            <th>培训课程</th>
            <th>培训级别</th>
            <th>培训地点</th>
            <th>讲师</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
        </tr>
        </tbody>
    </table>
    <button onClick="addRowToInfo3()">添加一行</button>
</div>
<!-- 工作经历 -->
<div class="dao-table-main" id="info4">
    <table class="dao-table row">
        <thead>
        <tr>
            <th colspan="5">裁判工作经历（最近一年工作场次）
            </th>
        </tr>
        <tr>
            <th>比赛类别</th>
            <th>裁判员</th>
            <th>助理裁判员</th>
            <th>第四官员</th>
            <th>裁判长</th>
        </tr>
        </thead>
        <tbody id="table">
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
        </tr>
        <tfoot>
        <tr id="total">
            <td style="text-align: center">合计</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tfoot>
        </tbody>
    </table>
    <button onClick="addRowToInfo4()">添加一行</button>
</div>
<div class="footer">
    <button class="btn btn-sm btn-danger submit-action" id="submit_btn"><i
            class="fa fa-check"></i>添加
    </button>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/global.js"></script>
<script src="js/register/register.js"></script>
</body>
</html>